.comingsoon,.error,.privacy{
    &-s1{
        background-blend-mode: multiply;
    }
}
.contact{
    &-s3{
        background-color: #999!important;
        background-blend-mode: multiply!important;
    }
}
.index{
    &-s4{
        background-color: #999!important;
        background-blend-mode: multiply!important;
    }
}
.menu{
    &-s3{
        background-color: #999!important;
        background-blend-mode: multiply!important;
    }
}
.story{
    &-s2,&-s4{
        background-color: #999!important;
        background-blend-mode: multiply!important;
    }
}
.text{
    &-shadow{
        text-shadow: $text-shadow;
    }
}
header{
    z-index: 10;
}
textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .contact{
        &-s1,&-s2{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
        }
    }
    .index{
        &-s1,&-s2{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
        }
        &-s2{
            background-position: right!important;
        }
    }
    .menu{
        &-s1,&-s2{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
            background-position: right!important;
        }
    }
    .navbar{
        &-nav{
            *:hover{
                opacity: 0.8;
            }
            background-color: #999!important;
            border: 1px solid #666!important;
            color: #333!important;
            padding: 10px;
        }
    }
    .story{
        &-s1,&-s3{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
            background-position: right!important;
        }
    }
}