$prefix: "../img/";
$bg__comingsoon-img: "../img/coming.jpg";
$bg__contact-img: 
    $prefix+"contact/contact-s1.jpg",
    $prefix+"contact/contact-s2.jpg",
    $prefix+"contact/contact-s3.jpg";
$bg__error-img: "../img/error.jpg";
$bg__index-img: 
    $prefix+"index/index-s1.jpg",
    $prefix+"index/index-s2.jpg",
    "",
    $prefix+"index/index-s4.jpg";
$bg__menu-img: 
    $prefix+"menu/menu-s1.jpg",
    $prefix+"menu/menu-s2.jpg",
    $prefix+"menu/menu-s3.jpg";
$bg__privacy-img: "../img/privacy.jpg";
$bg__reservations-img: $prefix+"reservations/reservations-s1.jpg";
$bg__story-img: 
    $prefix+"story/story-s1.jpg",
    $prefix+"story/story-s2.jpg",
    $prefix+"story/story-s3.jpg",
    $prefix+"story/story-s4.jpg";
$bg__user-img: $prefix+"user/user-s1.jpg";
$bg__classes:
    "comingsoon",
    "contact",
    "error",
    "index",
    "menu",
    "privacy",
    "reservations",
    "story",
    "user";
$bg__aoa:
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__menu-img,
    $bg__privacy-img,
    $bg__reservations-img,
    $bg__story-img,
    $bg__user-img;
$color__shadow: #333;
$text-shadow: 1px 1px 3px $color__shadow; 